body{
  font-weight: lighter;
}

.nbox{
  text-align:center;
}
.nbox>p:nth-child(2){
  font-size: 45px;
  font-weight: bold;
}

.nbox>p:nth-child(1){
  font-size: 25px;
}

.box-container>.nbox:nth-child(1)>p {
  color:#d63031;
}
.box-container>.nbox:nth-child(2)>p {
  color: #ff7675;
}

.box-container>.nbox:nth-child(3)>p {
  color: #e17055;
}

.box-container>.nbox:nth-child(4)>p {
  color:#2d3436;
}

h3 {
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}


.subtitle {
    font-size: 1rem;
    font-weight: lighter;
    text-align: end;
}

#region_select>form-control.selectize-control{
  margin:0;
}

.select_npi>.form-group {
  margin:auto;
}

.datepicker{
    z-index: 1000 !important;
}

#date_picker > .form-group.shiny-input-container {
  margin-bottom:0;
}

.nav-link.active {
    background-color: #ff7675!important;
}

.nav-link {
    color: #d63031 !important;
}


.nav-link.active {
    color: white!important;
}

.main-sidebar>.brand-link.bg-primary,
.main-sidebar>.brand-link.bg-primary:hover,
.main-sidebar>.brand-link.bg-primary:focus
{
  background-color: #ff7675 !important;
}

.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color:#ff7675;
}
.card-primary.card-outline {
  border-top: 3px solid #ff7675;
}
#page_title>h4,
#board_title>h4{
  padding-top: 0.4rem;
  font-weight: lighter;
}

#shiny-tab-scost_month_tab tbody>tr,
#shiny-tab-scost_day_tab tbody>tr{
  font-size: 14px; 
}

#shiny-tab-scost_day_tab .card-body,
#shiny-tab-scost_month_tab .card-body{
  min-height: 100px;
}

ul.nav.nav-treeview {
    margin-left: 10px;
}

.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active,
.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active:hover, .sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active:focus{
    color: #fff;
    font-weight: bold;
}

#waste_day_select .selectize-dropdown-content {
  max-height: 100px;
  }
  
div#target_speed_table {
    font-size: 14px;
}

#shiny-tab-target_speed_tab .card-body {
  padding:10px;
}